
html{	background-color:black;
    	font-family: Arial, Helvetica, sans-serif;	}

body{	padding:100px;	}

a, p{	font-size:small;	}
a:link, a:visited{color:inherit; text-decoration:none;	}

.screen{
    border-style:groove; border-color:white; border-radius:32px;
    margin:10px; padding:4px; width:312px; height:652px;
    color:white;
    background-image:linear-gradient(rgb(200,8,0),rgb(224,72,2));
}


.menubarcontent{
	margin-left:-4px; margin-right:-4px;padding:0px; align-items:center;
	color:white;  height:26px;display:grid;grid-template-columns:14% 76% 10%; margin-top:0px;
}

	#menu-dropdown{	position: relative;display: inline-block;}
	#menu-dropdown:hover #menu-dropdown-conteudo1{display: block;}
	#menu-dropdown-conteudo1{
		display: none;position: absolute;
		background-color:rgba(0,0,0,0.6);
		width:320px;height:660px;
		margin-top:-46px;
		border-radius:32px;
	}	#menu-dropdown-conteudo2{
		background-image:linear-gradient(rgb(200,8,0),rgb(224,72,2));
		width:60%;height:100%;
		text-align: left;
		float:left;
		border-radius:32px;
	}
	#menu-dropdown-conteudo2 a p{margin: 16px 12px 16px 20px;}



.content{
	margin-left:-4px; margin-right:-4px;margin-top:8px; padding:0px;
	height:496px;color:white;
}

.maincontent{
	margin-left:-4px; margin-right:-4px;margin-top:8px; padding:8px; height:482px;
	color:rgb(200,8,0);background-image:linear-gradient(rgb(218,218,212),rgb(234,232,232));
}
.maincontentscroll{
	margin-left:-4px; margin-right:-4px;margin-top:8px; padding:8px;height:482px;
	color:rgb(200,8,0);background-image:linear-gradient(rgb(218,218,212),rgb(234,232,232));
    overflow:scroll;overflow-x: visible; scrollbar-width:none;
}




.topbar{
    margin-top: 4px; margin-left:16px; margin-right:16px; font-size:small;}

.underbar{
	margin-left:2%; margin-right:2%; margin-top:0px; height:40px; 					display:grid; padding-top:4%;padding-bottom:8px;
	grid-template-columns:16% 16% 16% 16% 16%; column-gap:5%
}

.underbaricon{
	width:100%;margin:0%;
	border-radius:8px;
}






.bottombar{	display:grid;grid-template-columns:33% 33% 33%;color:white; margin-top:4px;}
.bottombar p{	font-size:large; margin:2px	}


.left{		float:left;	}
.right{		float:right;	}

.botao	{	justify-content:center; padding:6px;
		background-color:rgba(256,256,256,0.12);
		border-style:groove;  border-width:1px; border-radius:4px;
}

.search{
    background-color:rgba(250, 250, 250, 0.400);
    margin-top:16px; margin-bottom:16px;
    margin-left:8px; margin-right:8px; border-radius:14px;
    height:24px; padding:6px;
    font-size:20px; color:white;		}

.screen table{
    width: 488px;}

.app{
    margin:12px;
    text-align:center;}

.name{
    padding-top: 6px;
    float:center;
    font-size:16px;
    color:white;
    text-align:center;
}

.grid {
	display:grid
}


.interesse{
    border-style:solid; border-width:2px;
    border-radius:8px; border-color:rgba(250,250,220,0.4);
    margin: 4%; height: 100px;
}

.uibutton{
    border-style: solid;
    border-radius: 8px;
    border-width: thin;
    padding:6px; text-align:center;
    margin: 4px;border-color:rgb(87, 87, 87);
    margin: 4px 2px 4px 2px;
}

.uibutton p, .uibutton a {
    color:rgb(39, 39, 39);
}




/*---------------------paginainiical------------*/

#iniciotools, #othertools{
	margin:-8px -8px -6px -8px;
	display:grid; 
	padding:8px; height:24px; 
	border-bottom:solid thin rgb(200,8,0);
	align-content:center;
	grid-template-columns:24px 8px 24px auto 48% auto 24px 8px 24px;
}

	.tinysquare{
		color:rgb(200,8,0);
		width:24px; height:24px;
		position:relative;
		font-size: medium;
		border-radius:6.4px;
		border:solid 1px rgb(200,8,0);
	}

	#iniciotools .tinysquare {top:8px}


#acontecendoagora{
	margin:-20px 0px 0px 0px;
	padding:2% 0px 4% 0px;background-image:linear-gradient(rgba(200, 67, 0, 0.04), rgba(255, 8, 0, 0.06));
	border-bottom:solid thin rgb(164, 164, 164);
}
	#acontecendoagora p {margin: 2px 0px -4px 0px; font-size: 12px;}
	#acontecendoagora #grade {
		margin:8px 8px 6px 8px;
		padding:0.4% 0px 1% 0px;
		overflow-x: auto;
		overflow-y:hidden;
		scrollbar-width:none;
		display:grid; grid-template-columns:54%54%54%54%54%54%; gap:4%
	}

		#grade .frame{
			text-align:left;
			color: rgb(20,20,20);
			border: solid thin rgb(164,164,164);
			border-radius: 8px;
			width:100%;
			background-image: linear-gradient(rgba(218, 218, 212, 0.4), rgba(234, 232, 232,0.48));
		}
			#grade .frame .top{
				height: 22px;
				align-items:center;
				display: grid;
				margin:6px;
				grid-template-columns:24px auto; gap:4px
			}
				#grade .frame .top .imagem{
					background-color: rgb(200,8,0);
					border-radius: 48%;
					height: 24px;
					
				}
				#grade .frame .top .text{margin:2px}
			#grade .frame .banner{
				margin:4px 6px 4px 6px;
				height: 80px;
				background-color: rgb(232, 118, 57);
				border-radius:6px;
			}
			#grade .frame .a{margin:10px 6px 4px 6px;font-weight:600;}
			#grade .frame .b{margin:6px;font-size:xx-small; color:rgb(88, 88, 88);}

	#acontecendoagora a.vermais {border-radius: 8px;padding:8px 40px 8px 40px; margin: 4px;background-image:linear-gradient(rgb(200,8,0),rgb(224,72,2)); color:white; font-size:x-small}

	#aconteendo-agora {height:inherit;}

	#acontecendo-agora #feed{
		margin-left:-4px; margin-right:-4px;margin-top:8px; padding:8px;
		color:rgb(200,8,0);background-image: linear-gradient(rgb(213, 210, 208), rgb(219 203 203));
		overflow:scroll;overflow-x: visible; scrollbar-width:none;
	}

	#acontecendo-agora #feed p {margin: 8px; font-size: 12px;}


/*-----------------------------------notify--------------*/
.notify{
	margin: 0px -8px 0px -8px; padding: 8px; 
	border-bottom:solid thin rgb(100, 100, 100);
}

	.notify .normal,
	.notify .impor{
		border: solid thin rgba(104,104,104,0.6); border-radius: 8px;
		padding:8px; margin: 6px 8px;
		color:rgb(84,84,84);
		display:grid;
		grid-template-columns:40px auto
	}
	.notify .impor{background-color:rgb(212 63 3 / 10%)}
	
		.normal .a, .impor .a{
			background-color:rgb(200,8,0);
			border-radius: 48%; height:40px; width:40px
		}
		.notify .normal .b,
		.notify .impor .b{
			text-align:left;
			align-self:center;
			margin-left:6px;
		}
			.normal .comunidade,
			.impor .comunidade
				{margin:2px; font-size:12px;font-weight: 1000}
				
			.notify .normal .b .title,
			.notify .impor .b .title
				{margin:2px; font-size:11px;font-weight: 600}
				
				.notify .normal .b .title span,
				.notify .impor .b .title span
					{font-size:11px;font-weight:1000}
					
			.notify .normal .b .text,
			.notify .impor .b .text
				{margin:2px; font-size:10px}
			.notify .normal .b .data,
			.notify .impor .b .data
				{margin-top:6px; font-size:9px; text-align:right; color:grey}


/*-------------------------------------perfil--------------*/

/*colorful aprt on topn of profile*/
#intropfl{
	background-image:linear-gradient(rgba(200, 67, 0, 0.04), rgba(255, 8, 0, 0.06));
	margin:auto -8px -8px ; padding: 8px; 
	border-bottom:solid thin rgb(100, 100, 100);
}
	
	#greensquareout{height:140px}
		#greensquare{
			height:140px;
			background-color: rgb(45, 160, 110);
			border-radius: 8px; border-style:solid;
			border-width: thin; border-color: rgb(164,164,164)
		}
	#userinfopfl{
		grid-template-columns: 64px auto 28%;
		gap:8px;
		margin: -6.8% 3.2% auto 3.2%;
		height: 64px;
	} 
		#userpicpfl{
			background-color: rgb(200,8,0);
			height: 64px;
			border-radius: 48%;border-style:solid;
			border-width: thin; border-color: rgb(164, 164, 164)
		}
			#userpicpfl div{
				background-image:url('useron.png');
				background-size:cover;
				width:60px ; height:60px;
				border-radius: 50%;
			}

		#useratnamepfl{text-align: left; margin-top: 12%;}
			#useratpfl{margin-bottom: 0px;font-weight: 600;}
			#usernamepfl{font-size: x-small; margin: 2px;font-weight: 600; color: rgb(74, 74, 74);}
		#userfndflgflwpfl{text-align:left;font-weight: 600; margin-top: 32%}
			#userfndflgflwpfl a p{margin:2px;font-size: x-small;}

	#userbiopfl{font-size: x-small; color:black; text-align:left; margin: 8px}
	
	#userfriendstatus {
		font-size: x-small;
		border-radius: 8px;
		padding:8px;
		background-image:linear-gradient(rgb(200,8,0),rgb(224,72,2));
		color:white;margin: 2px 4% 8px 4%;
	}

	#profiledomain{margin: 0.2% 0% 0.2% 0%; padding: 2%;}
	#profiledomain div{
		display:grid;
		grid-template-columns:auto 24.6px 24.6px 24.6px 24.6px 24.6px auto;
		gap:6%; height:22px;
	}
	#profiledomain div a{
		border:solid thin;
		border-radius: 40%;
		height:inherit;
	}

/*-------------------------------------perfil--------------*/

/*colorful aprt on topn of profile*/
#intropflcmd{
	background-image:linear-gradient(rgba(200, 67, 0, 0.02), rgba(255, 8, 0, 0.04));
	margin:auto -8px 12px -8px; padding: 8px; 
	border-bottom:solid thin rgb(100, 100, 100);
}
	
	#bluesquareout{height:160px}
		#bluesquare{
			height:160px;
			background-color: rgb(48, 223, 242);
			border-radius: 8px; border-style:solid;
			border-width: thin; border-color: rgb(164,164,164)
		}
	#infocmd{
		grid-template-columns: 64px auto 30%;
		gap:8px;
		margin: -6.8% .2% auto 3.2%;
		height: 64px;
	} 
		#userpiccmd{
			background-color: rgb(200,8,0);
			height: 64px;
			border-radius: 48%;border-style:solid;
			border-width: thin; border-color: rgb(164, 164, 164)
		}
		#useratnamecmd{text-align: left; margin-top: 12%;}
			#useratcmd{margin-bottom: 0px;font-weight: 600;}
			#criadornamecmd{font-size: x-small; margin: 2px;font-weight: 400; color: rgb(74, 74, 74);}
		#cmdflg{text-align:left;font-weight: 600; margin-top: 32%}
			#cmdflg a p{margin:2px;font-size: x-small;}

	#userbiopfl{font-size: x-small; color:black; text-align:left; margin: 8px}



/*------------------------comunidades-----------------------------------*/
.commm{	
	margin:10px 8px; padding: 10px; 
	border: solid thin rgb(164,164,164);
	border-radius: 8px;
	display:grid;
	align-items:center;
}

	.commm .bluesquareout{height:120px}
		.bluesquare{
			height:120px;
			background-color: rgb(48, 223, 242);
			border-radius: 8px; border-style:solid;
			border-width: thin; border-color: rgb(164,164,164)
		}
		
	.commm .infocmd{
	display:grid;
		grid-template-columns: 52px auto 40px;
		gap:8px;
		margin: -4.8% 4px auto 10px;
		height: 48px;
	} 
			
		.commm .infocmd .userpiccmd{
			background-color: rgb(200,8,0);
			height: 52px;
			border-radius: 48%;border-style:solid;
			border-width: thin; border-color: rgb(164, 164, 164)
		}
			
		.commm .useratnamecmd{text-align: left; margin-top:6px}
	
			.commm .useratnamecmd .useratcmd{
				margin-bottom: 0px;
				font-size:small;
				font-weight: 600;
				color:black
			}
			
			.commm .useratnamecmd .userfriendstatus{
				margin-bottom: 0px;
				font-weight: 600;
				font-size:x-small;
				margin:4px 2px;
			}

		.commm .userbio{
			margin:18px 2px 2px 2px;
			font-size:x-small;
			color:rgb(0 0 0 / 80%);
			text-align: left;
		}
/*------------------------------------------------------------------------*/
