<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Olimpiclink"
        tools:targetApi="31">
        <activity
            android:name=".ui.pages.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.UnpublishedEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.ComunityLeader"
            android:exported="false" />
        <activity
            android:name=".ui.pages.ParaTestesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.CreateComunityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.ListCommunitiesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.PublishedEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.ComunityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.SelectCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.FollowersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.FollowsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.OuterProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.MoreSeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.UnpublishedPublicationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.RegisterCityActivity"
            android:exported="false"
            android:theme="@style/Theme.Olimpiclink.NoActionBar" />
        <activity
            android:name=".ui.pages.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Olimpiclink.NoActionBar" />
        <activity
            android:name=".ui.pages.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Olimpiclink.NoActionBar" />
        <activity
            android:name=".ui.pages.InitialActivity"
            android:exported="false"
            android:theme="@style/Theme.Olimpiclink.NoActionBar" />
        <activity
            android:name=".ui.pages.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Olimpiclink.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>